body {
  background: rgb(215, 241, 213);
  margin: 0% auto;
}

/*Main page*/
.main-style {
  padding: 2% 5% 2% 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Starting style  of Header */

.page-header a h1 {
  text-align: center;
  color: #111;
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.page-header a:link {
  text-decoration: none;
  list-style: none;
}

/* Ending style of header */

/* Starting style of Nav bar section */
/* Got this nav bar from w3school.com */

.page-nav {
  background-color: rgb(124, 124, 124);
}

.page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-nav ul li {
  float: right;
  border-right: 1px solid #bbb;
}

/* I moved the Home nav to the left */
.page-nav .left {
  float: left;
}

.page-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

.page-nav ul li a:hover:not(.active) {
  background-color: #111;
}

/* Ending style of Nav-bar section*/

/*  */

.container {
  border-radius: 20px;
  padding: 1%;
}

.container-content {
  padding-left: 10%;
  padding-right: 10%;
  color: #111;
}

/**/
.container-content h2 {
  font-size: 1.5em;
}

/*Size of text*/
p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}


/* Here is the image section*/
.image-gallery .an-image {
  padding: 2%;
  overflow: hidden;
  height: auto;
  }

/* Here resizing the Image*/
.image-gallery .an-image img {
  width: 50%;
  overflow: hidden;
  height: auto;
}

.image-gallery .an-image .image-caption{
  overflow: hidden;
  width: 70%;
}
/* End of the image section*/

/* Form section*/

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="text"],
select {
  width: 100%;
  padding: 2% 1%;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

input[type="email"],
select {
  width: 100%;
  padding: 2% 1%;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 200px;
  border: none;
  text-align: left;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  padding: 2% 1%;
  font-family: "Arial";
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Form section ends */

/* Footer  Section begin*/
.footer {
  text-align: center;
  background-color: rgb(124, 124, 124);
  overflow: hidden;
}

.footer-text {
  color: rgb(255, 255, 255);
}
/**/
footer a {
  color: white;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

footer a:hover:not(.active) {
  background-color: #111;
}

/*End of the footer */

/* Making the Nav bar goes vertical, if the screen is resized */
@media screen and (max-width: 600px) {

  .page-nav .left,
  .page-nav ul li {
    float: none;
  }
}