body {
  background: rgb(215, 241, 213);
  margin: 0% auto;
  padding: 0% auto;
}

/*Main page*/
.main-style {
  padding: 2% 5% 2% 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Starting style  of Header */
.page-header a h1 {
  text-align: center;
  color: #111;
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.page-header a:link {
  text-decoration: none;
  list-style: none;
}

/* Ending style of header */

/* Starting style of Nav bar section*/
/* W3SCHOOLS */
.page-nav {
  background-color: rgb(124, 124, 124);
}

.page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-nav ul li {
  float: right;
  border-right: 1px solid #bbb;
}

.page-nav .left {
  float: left;
}

.page-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

.page-nav ul li a:hover:not(.active) {
  background-color: #111;
}

/*Nav of home nav on the left*/
#left {
  float: left;
}

/* Ending style of Nav-bar section*/

/**/

.container {
  border-radius: 20px;
  padding: 20px;
}

.container-content {
  padding-left: 10%;
  padding-right: 10%;
  color: #111;
}

.container-content h2 {
  font-size: 1.5em;
  /* 30px/16=1.875em */
}

p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

.image-gallery {
  overflow: hidden;
  float: left;
}
.image-gallery .an-image {
  width: 50%;
  height:50% ;

}

.image-gallery .an-image img {
  width: 100%;
}

image-gallery .an-image .image-caption p{
  width: 100%;
  float: right;
}

/* Form section*/

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="text"],
select {
  width: 100%;
  padding: 2% 1%;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

input[type="email"],
select {
  width: 100%;
  padding: 2% 1%;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 200px;
  border: none;
  text-align: left;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  padding: 2% 1%;
  font-family: "Arial";
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Footer */
.footer {
  text-align: center;
  background-color: rgb(124, 124, 124);
  margin-top: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-text {
  color: rgb(255, 255, 255);
}

footer a {
  color: white;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

footer a:hover:not(.active) {
  background-color: #111;
}

@media screen and (max-width: 600px) {
  .page-nav .left,
  .page-nav ul li {
    float: none;
  }
}
